# Ignore everything by default
/*

# Allow tracking of wp-content directory
!wp-content/

# Allow tracking of themes directory
!wp-content/themes/

# Ignore everything inside themes, except your specific theme
wp-content/themes/*
!wp-content/themes/loobek/
!wp-content/themes/loobek/**
!wp-content/themes/loobek-child/
!wp-content/themes/loobek-child/**

# Allow tracking of plugins directory
!wp-content/plugins/

# Ignore all plugins by default
wp-content/plugins/*

# (Optional) If you want to track specific plugins, add them here
# !wp-content/plugins/my-plugin/
# !wp-content/plugins/my-plugin/**

# Ignore uploads, cache, and unnecessary files
wp-content/uploads/
wp-content/cache/
